.card-body {
    background-color: #fdfdfd;
}

.content-page {

    background-color: rgba(183, 169, 169, 0.35);
    height: 100vh;
}

.card {
    margin: 20px;
    border: 0;
}

.page-title {
    margin: 20px;
    font-family: "Arial Black";
    font-size: 20px;
}
